.header {
    height: 34vw;
    margin: 30px auto;
    background: url('./../../files/header_image.jpeg') no-repeat center center;
    background-size: cover;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 7%;
    left: 2vw;
    animation: fadeIn 2s;
}

.header-contents h2 {
    font-weight: 500;
    color: white;
    font-size: max(4.5vw, 22px);
}

.header-contents p {
    color: white;
    font-size: 1.2vw;
    line-height: 1.5;
}

.header-contents button {
    border: none;
    color: #000000;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-contents button:hover {
    background-color: rgb(255, 115, 0);
    color: #000000;
}

@media (max-width: 1050px) {
    .header {
        height: 38vw;
    }

    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 65%;
    }

    .header-contents p {
        display: none;
    }

    .header-contents button {
        padding: 2vw 4vw;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
